---
import DocsLayout from "@/layouts/docs.astro";
import IndexDoc from "@/content/IndexDoc.mdx";
---

<DocsLayout title="Introduction" description="Guide complet pour utiliser tsai-registry - Collection d'agents et d'outils Mastra">
  <div class="max-w-4xl mx-auto">
    <div class="prose prose-slate dark:prose-invert max-w-none">
      <IndexDoc />
    </div>
  </div>
</DocsLayout>